.container__tabela{
    height: max-content;
    width: 65%;
    padding: 15px;

    margin-left: 100px;

    color: whitesmoke;
    font-weight: thin;
}  

.tabela__classificacao{
    height: fit-content;
    min-height: 100vh;
    padding: 10px;
    background-color: rgb(28,50,38);
    border-radius: 22px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.tabela__titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.legenda{
    display: flex;
    font-size: 25px;
    padding: 0px 2px 0px 2px;
    color: rgb(94, 116, 104);
    margin-bottom: 6px;
    border-bottom: 1px solid;
    border-color: rgb(94, 116, 104);
}

.linha{
    display: flex;
    font-size: 20px;
    padding: 1px 2px 1px 2px;   
}

.linha #nome{
    width: 35.5%;
}

.linha:hover{
    background-image:linear-gradient(to right, rgb(28,50,38) 0%, 
    rgb(22,36,28) 8%, rgb(22,36,28) 85%, rgb(28,50,38) 100%);

}

.colocacao{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.5px;
    height: 40px;

    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
}
.linha:nth-of-type(-n+14) .colocacao{
    color: rgb(28,50,38);
    background-color: #288eea;    
}

.linha:nth-of-type(-n+8) .colocacao{
    color: rgb(28,50,38);
    background-color: #80ea79;    
}

.linha:nth-of-type(-n+6) .colocacao{
    background-color: #3bb552;    
}

.linha:nth-last-child(-n+5) .colocacao{
    color: rgb(28,50,38);
    background-color: #ef5158;    
}

.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.time .img__escudo{
    height: 30px;
}

#nome{
    display: flex;
    width: 42%;
    justify-content: flex-start;
    margin-right: 20px;
}



.time > div{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
}
    
.desempate{
    margin: 30px 22px 20px 33px;
}