.container__tabela{
    height: max-content;
    width: 60%;
    padding: 15px;
    
    color: whitesmoke;
    font-weight: thin;
}  

.tabela__classificacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    min-height: 100vh;
    padding: 10px;
    background-color: rgb(28,50,38);
    border-radius: 22px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    cursor: default;
}

.tabela__titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.legenda{
    display: flex;
    font-size: 25px;
    padding: 0px 2px 0px 2px;
    color: rgb(94, 116, 104);
    margin-bottom: 6px;
    border-bottom: 1px solid;
    border-color: rgb(94, 116, 104);
}

.linha{
    display: flex;
    font-size: 20px;
    padding: 1px 2px 1px 2px; 
}

.linha #nome{
    width: 45.3%;
}

.destaca:hover{
    background-image: none;
}

.linha:hover{
    background-image:linear-gradient(to right, rgb(28,50,38) 0%, 
    rgb(22,36,28) 8%, rgb(22,36,28) 85%, rgb(28,50,38) 100%);

}

.colocacao{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.5px;
    height: 40px;

    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
}

.linha:nth-of-type(-n+13) .colocacao{
    color: rgb(28,50,38);
    background-color: #288eea;    
}

.linha:nth-of-type(-n+7) .colocacao{
    color: rgb(28,50,38);
    background-color: #80ea79;    
}

.linha:nth-of-type(-n+5) .colocacao{
    background-color: #3bb552;    
}

.linha:nth-last-child(-n+5) .colocacao{
    color: rgb(28,50,38);
    background-color: #ef5158;    
}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.time .img__escudo{
    height: 30px;
    column-gap: 0px;
}

#nome{
    display: flex;
    width: 45.5%;
    justify-content: flex-start;
}

#pctg{
    margin-right: 4px;
}

.destaca {
    background-image: linear-gradient(90deg, rgba(28,50,38,1) 0%, rgba(255,255,255,0.14649858234309348) 20%, rgba(28,50,38,1) 100%);
}

.time > div{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
}
    
.desempate{
    margin: 30px 22px 20px 33px;
}

@media only screen and (max-width: 860px){
    .container__tabela{
        width: 100vw;
        padding: 4px;
        margin-left: 0px;
        margin-right: 1px;
    }

    .tabela__classificacao{
        width: 98vw;
        padding: 0px;
        border-radius: 11px;
    }

    .tabela__titulo{
        font-size: 18px;
        margin: 2px;
    }

    .legenda{
        font-size: 18px;
        margin-bottom: 4px;
    }

    .legenda .time #nome{
        width: 44%;
    }

    .linha{
        font-size: 15px;        
    }

    .linha #nome{
        width: 44%;
    }

    .colocacao{
        width: 33px;
        height: 30px;    
        font-size: 19px;
        font-weight: bold;
        margin: 1px;
    }
    
    .time .img__escudo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 29px;      
    }

    #gp, #gc{
        display: none;
    }

    .desempate{
        font-size: 12px;
        margin: 9px 10px 6px 25px;
    }
}