.app{
    display: block;
    height: 100vh;
    background-color: rgb(19,33,26); 
    overflow-y: scroll;
    
}

.app__abas{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: rgb(19,33,26); 
   
}

@media only screen and (max-width: 440px){
    .app{
        height: 100vh;
        width: 100vw;
    }

    .app__abas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        overflow-x: scroll;
        scroll-snap-type: x proximity;
        scrollbar-width: none;
    }
}
